@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Mystyles.css")

<div class="container-fluid">
   
    <div class="row">
        <div class="col-sm-6 ">
            <h2 id="WelcomeHead">Welcome To RescueBus</h2>
            <h4> The Team that lives to save lives.</h4>
            <p>It can take one ride to save someone's life that's why we do this.</p>
            <button id="BookButton" type="button" class="btn btn-outline-secondary" onclick="location.href = '@Url.Action("SelectServiceView","Service")'">BOOK AMBULANCE</button>
            <div class="border border-secondary bg-darkgray text-center p-3" style="background-color: darkgray;">
                <h5 class="text-secondary">EMERGENCY?</h5>
                <p>Only hit the S.O.S button in case of an emergency<strong></strong></p>
                <p>Being locked out of your house is not a medical emergency!</p>
                <div>
                    <img src="~/Content/Images/Emergency.png" alt="Emergency" width="100" height="100" style="background-color:darkgray;" />
                </div>
            </div>


        </div>
        <div class="col-sm-6 text-center p-3 ">

            <div style="background-color:paleturquoise;">
                <img id="Ambulance" src="~/Content/Images/Ambulance.png" width="300" height="300" />
            </div>
            <div>
                <button type="button" style="border: none; background-color:paleturquoise; padding: 0;">
                    <img src="~/Content/Images/SOS.png" alt="SOS" width="250" height="250">
                </button>
            </div>
           
        </div>
    </div>
    
</div>

<script src="~/Scripts/MyScript.js"></script>